*.pyc
*.pyo
*.log
*~
/.cache
/.coverage
/.project
/.pydevproject
/.vagrant
/.idea
/.vscode
__pycache__/
/build/
/dist/
/pghoard.egg-info/
/pghoard-rpm-src.tar
/rpm/
.vagrant
/venv/
/.venv/
*.orig
/pghoard-rpm-src/
