[MESSAGES CONTROL]
disable=
    bad-option-value,
    duplicate-code,
    fixme,
    invalid-name,
    len-as-condition,
    locally-disabled,
    missing-docstring,
    no-else-return,
    no-self-use,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-boolean-expressions,
    too-many-branches,
    too-many-function-args,
    too-many-instance-attributes,
    too-many-locals,
    too-many-public-methods,
    too-many-statements,
    ungrouped-imports,
    wrong-import-order,
    wrong-import-position

[FORMAT]
max-line-length=125

[REPORTS]
output-format=text
reports=no
