# Use pip for build requirements to harmonize between OS versions
mock
pylint>=2.4.3,<=2.7.2
pylint-quotes
pytest
pytest-mock
pytest-timeout
pytest-xdist
yapf==0.30.0
isort==5.7.0
coverage
coveralls
responses
unify
