# Use pip for build requirements to harmonize between OS versions
mock
pylint>=2.4.3
pylint-quotes
pytest
pytest-mock
pytest-timeout
pytest-xdist
yapf==0.27.0
isort==4.3.21
coverage
coveralls
responses
unify
