Source: pghoard
Maintainer: Hannu Valtonen <hannu.valtonen@ohmu.fi>
Section: python
Priority: optional
Build-Depends: debhelper (>= 8), dh-python,
 postgresql-9.3 | postgresql-9.4 | postgresql-9.5 | postgresql-9.6 | postgresql-10 | postgresql-11 | postgresql-12 | postgresql-13,
 python3-all (>= 3.3), python3-cryptography (>= 0.8), python3-dateutil,
 python3-flake8, python3-psycopg2, python3-pytest, python3-requests,
 python3-paramiko, python3-setuptools, python3-snappy
X-Python3-Version: >= 3.3
Standards-Version: 3.9.4
Homepage: https://github.com/aiven/pghoard

Package: pghoard
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
 python3-cryptography (>= 0.8), python3-dateutil, python3-psycopg2,
 python3-requests, python3-snappy, postgresql-common, python3-paramiko
Breaks: postgresql-9.3-pgespresso (< 1.2),
 postgresql-9.4-pgespresso (< 1.2), postgresql-9.5-pgespresso (< 1.2)
Description: PostgreSQL streaming backup service
 PGHoard is a PostgreSQL streaming backup service.  Backups are stored in
 encrypted and compressed format in a cloud object storage.  PGHoard
 currently supports Amazon Web Services S3, Google Cloud Storage, OpenStack
 Swift and Ceph (using S3 or Swift interfaces with RadosGW.)
 Support for Microsoft Azure is experimental.
